<%= link_to raw('<i class="fa-solid fa-plus"></i> Add Channel'), new_channel_path, class: 'font-bold' %>
<h1 class='font-bold'>Channels</h1>
<%= render "form", channel: current_user.channels.new %>

<div id='channels'>
  <% @channels.each do |channel| %>
    <div class='flex items-center gap-2 indent-3'>
      <%= link_to channel.name, channel_path(channel) %>
      <%= button_to 'Delete', channel_path(channel), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'text-gray-400 text-sm' %>
    </div>
  <% end %>
</div>

<%= button_to 'Log Out', destroy_user_session_path, method: :delete, data: { turbo_confirm: 'Are you sure you want to Log out?' } %>
